{% extends 'blog/base.html' %}
<!--{% load staticfiles %}-->
<!--<html>-->
<!--<head>-->
    <!--<title>Django Girls blog</title>-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <!--<link rel="stylesheet" href="{% static 'css/main.css' %}">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet"-->
          <!--type="text/css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="page-header">-->
    <!--<h1><a href="/">Django Girls Blog</a></h1>-->
<!--</div>-->

<!--<div class="content container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-8">-->



{% block content %}
<form method="GET" action="" style="position:relative;left:70%;">
<input type="search" name="query" value="{{request.GET.query}}"/>
<input type="submit" value="Search"/>
</form>
            {% for post in posts %}


            <div class="post">

                <div class="date">
                    <p>published: {{ post.published_date }}</p>
                    <button type="button" data-toggle="collapse" data-target="#text" >More {{i}}</button>
                </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <div >
                <p> {{ post.text|linebreaksbr }}</p>
                </div>
                </div>

            {% endfor %}
<div class="wrapper">


    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
