{% extends 'blog/base.html' %}

{% block content %}
<div class="row">

    <div class="post">
        {% if post.published_date %}
        <div class="date">
            {{ post.published_date }}
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <h1>
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span
                    class="glyphicon glyphicon-pencil"></span></a>
        </h1>
        {% endif %}
        <p>
            {% if post.image %}
            <img src='{{post.image.url}}' class="img-responsive">
            {%endif %}
            {% if post.music %}
            </br>
            <audio controls>
                <source src="{{post.music.url}}" type="audio/mpeg">
            </audio>
            {%endif %}
        </p>
        <div class="col-sm-9 col-md-6 col-lg-8">


            <h1>{{ post.title }}</h1>

            {% block content_text %}
            <p>{{ text|safe|linebreaksbr }}</p>
            {% endblock %}


            <!--<p>{{ post.text|linebreaksbr}}</p>-->
        </div>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-4">
        <div class="btn-group-vertical">
            <form method="GET" action="{% url 'post_text' pk=post.pk %}">
                <p>
                    <button type="submit" name="C" value="C" class="btn btn-primary">C</button>
                </p>
                <p><a href="{% url 'post_text' pk=post.pk %}" onclick="document.getElementById('query').submit();"><span
                        class="btn btn-primary">C</span></a></p>
                <p><a href="{% url 'post_text' pk=post.pk %}"><span class="btn btn-primary">D</span></a></p>
                <input type="text" name="query" value="2">
                <p><a href="{% url 'post_text' pk=post.pk %}"><span class="btn btn-primary">E</span></a></p>
                <a href="{% url 'post_text' pk=post.pk %}"><span class="btn btn-primary">F</span></a>
                <a href="{% url 'post_text' pk=post.pk %}"><span class="btn btn-primary">G</span></a>
                <a href="{% url 'post_text' pk=post.pk %}"><span class="btn btn-primary">A</span></a>
                <a href="{% url 'post_text' pk=post.pk %}"><span class="btn btn-primary">B</span></a>
            </form>
            <!--<button type="button" class="btn btn-primary">D</button>-->
            <!--<button type="button" class="btn btn-primary">E</button>-->
            <!--<button type="button" class="btn btn-primary">F</button>-->
            <!--<button type="button" class="btn btn-primary">G</button>-->
            <!--<button type="button" class="btn btn-primary">A</button>-->
            <!--<button type="button" class="btn btn-primary">B</button>-->

        </div>
    </div>

</div>
{% endblock %}